.carousel {
  position: relative;
  .carousel-indicators {
    bottom: -20%;
    button {
      background-color: white;
    }
  }
}
.carousel-control-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 115%;
  left: 93%;
  z-index: 5;
  padding: 0;
  color: green;
  text-align: center;
  border-radius: 50%;
  border: solid 1px black;
  padding: 10px;
}

.carousel-control-next {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 115%;
  left: 97%;
  z-index: 5;
  padding: 0;
  color: green;
  text-align: center;
  border-radius: 50%;
  border: solid 1px black;
  padding: 10px;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: rgb(207, 204, 204);
  &.active {
    background-color: black;
  }
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}
.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  &::after {
    display: block;
    clear: none;
    content: '';
  }
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: visible;
}

.carousel-item.active,
.carousel-item-next.active,
.carousel-item-prev {
  display: block;
}
[aria-label] {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
