.carousel {
  position: relative;
}
.carousel-control-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 110%;
  left: 90%;
  z-index: 5;
  padding: ;
  color: green;
  text-align: center;
  border-radius: 50%;
  border: solid 1px black;
  padding: 10px;
}

.carousel-control-next {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 110%;
  left: 94%;
  z-index: 5;
  padding: 0;
  color: green;
  text-align: center;
  border-radius: 50%;
  border: solid 1px black;
  padding: 10px;
}
